In [11]:
import re
import requests
import pandas as pd
from datetime import datetime, timedelta

In [12]:
datetime_format_github = '%Y-%m-%dT%H:%M:%SZ'

In [1]:
# get author_association
access_token = 'xxx'  # removed access token for anonymity

def GetOpened():
    created_time_list = []
    for page_num in range(1,3000):
        if page_num%10 == 0:
            print(page_num)
        request_str = "https://api.github.com/repos/microsoft/vscode/issues?direction=asc&state=all&page=" + str(page_num) + "&access_token=" + access_token
#         print(request_str)
        r = requests.get(request_str)
        try:
            createdList = r.json()
#             print(commitList)
            if len(createdList) == 0:
                break
            for issue in createdList:
                created_time = issue['created_at']
                created_time_list.append(created_time)
            
        except:
            print('EXCEED ACCESS LIMIT')
    return created_time_list

In [18]:
df = pd.DataFrame(GetOpened(), columns=['datetime_str'])

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000
1010
1020
1030
1040
1050
1060
1070
1080
1090
1100
1110
1120
1130
1140
1150
1160
1170
1180
1190
1200
1210
1220
1230
1240
1250
1260
1270
1280
1290
1300
1310
1320
1330
1340
1350
1360
1370
1380
1390
1400
1410
1420
1430
1440
1450
1460
1470
1480
1490
1500
1510
1520
1530
1540
1550
1560
1570
1580
1590
1600
1610
1620
1630
1640
1650
1660
1670
1680
1690
1700
1710
1720
1730
1740
1750
1760
1770
1780
1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010
2020
2030
2040
2050
2060
2070
2080
2090
2100
2110
2120
2130
2140
2150
2160
2170
2180
2190
2200
2210
2220
2230
2240
2250
2260
2270
2280
2290
2300
2310
2320
2330
2340
2350
2360
2370
2380
2390
2400
2410
2420
2430
2440
2450
2460
2470
2480
2490
2500
2510
2520
2530
2540
2550
2560
2570
2580
2590
2600
2610
2620
2630
2640
2650
2660
2670

In [19]:
df['datetime'] = df.apply(lambda row: datetime.strptime(row['datetime_str'], datetime_format_github), axis=1)

In [20]:
start_date_time = datetime.strptime('2015-09-03T20:23:38Z', datetime_format_github)

In [21]:
def GetDiffWeek(d1, d2):
    monday1 = (d1 - timedelta(days=d1.weekday()))
    monday2 = (d2 - timedelta(days=d2.weekday()))
    return int((monday2 - monday1).days / 7)

In [22]:
df['week_diff'] = df.apply(lambda row: GetDiffWeek(start_date_time, row['datetime']), axis=1)

In [23]:
df

               datetime_str            datetime  week_diff
0      2015-10-13T23:37:50Z 2015-10-13 23:37:50          6
1      2015-11-13T15:32:25Z 2015-11-13 15:32:25          9
2      2015-11-13T16:34:23Z 2015-11-13 16:34:23          9
3      2015-11-13T16:45:06Z 2015-11-13 16:45:06          9
4      2015-11-13T16:48:18Z 2015-11-13 16:48:18          9
5      2015-11-13T16:50:44Z 2015-11-13 16:50:44          9
6      2015-11-14T06:04:02Z 2015-11-14 06:04:02          9
7      2015-11-14T12:53:12Z 2015-11-14 12:53:12          9
8      2015-11-15T12:05:39Z 2015-11-15 12:05:39          9
9      2015-11-15T18:54:49Z 2015-11-15 18:54:49          9
10     2015-11-16T06:43:37Z 2015-11-16 06:43:37         10
11     2015-11-16T07:02:43Z 2015-11-16 07:02:43         10
12     2015-11-16T07:20:42Z 2015-11-16 07:20:42         10
13     2015-11-16T07:22:24Z 2015-11-16 07:22:24         10
14     2015-11-16T07:28:06Z 2015-11-16 07:28:06         10
15     2015-11-16T07:45:57Z 2015-11-16 07:45:57         10
16     2015-11-16T08:05:42Z 2015-11-16 08:05:42         10
17     2015-11-16T08:45:27Z 2015-11-16 08:45:27         10
18     2015-11-16T08:49:55Z 2015-11-16 08:49:55         10
19     2015-11-16T09:01:43Z 2015-11-16 09:01:43         10
20     2015-11-16T09:26:01Z 2015-11-16 09:26:01         10
21     2015-11-16T09:32:02Z 2015-11-16 09:32:02         10
22     2015-11-16T09:35:52Z 2015-11-16 09:35:52         10
23     2015-11-16T09:44:42Z 2015-11-16 09:44:42         10
24     2015-11-16T09:54:17Z 2015-11-16 09:54:17         10
25     2015-11-16T10:00:31Z 2015-11-16 10:00:31         10
26     2015-11-16T10:06:02Z 2015-11-16 10:06:02         10
27     2015-11-16T10:30:14Z 2015-11-16 10:30:14         10
28     2015-11-16T10:43:28Z 2015-11-16 10:43:28         10
29     2015-11-16T13:09:43Z 2015-11-16 13:09:43         10
...                     ...                 ...        ...
80086  2019-09-14T05:24:17Z 2019-09-14 05:24:17        209
80087  2019-09-14T05:31:06Z 2019-09-14 05:31:06        209
80088  2019-09-14T05:38:36Z 2019-09-14 05:38:36        209
80089  2019-09-14T06:08:01Z 2019-09-14 06:08:01        209
80090  2019-09-14T06:29:38Z 2019-09-14 06:29:38        209
80091  2019-09-14T06:38:59Z 2019-09-14 06:38:59        209
80092  2019-09-14T07:17:43Z 2019-09-14 07:17:43        209
80093  2019-09-14T07:43:56Z 2019-09-14 07:43:56        209
80094  2019-09-14T07:54:04Z 2019-09-14 07:54:04        209
80095  2019-09-14T09:39:44Z 2019-09-14 09:39:44        209
80096  2019-09-14T09:59:02Z 2019-09-14 09:59:02        209
80097  2019-09-14T11:05:56Z 2019-09-14 11:05:56        209
80098  2019-09-14T11:21:28Z 2019-09-14 11:21:28        209
80099  2019-09-14T11:28:01Z 2019-09-14 11:28:01        209
80100  2019-09-14T11:46:46Z 2019-09-14 11:46:46        209
80101  2019-09-14T12:19:12Z 2019-09-14 12:19:12        209
80102  2019-09-14T12:36:28Z 2019-09-14 12:36:28        209
80103  2019-09-14T12:50:21Z 2019-09-14 12:50:21        209
80104  2019-09-14T13:25:40Z 2019-09-14 13:25:40        209
80105  2019-09-14T13:37:43Z 2019-09-14 13:37:43        209
80106  2019-09-14T14:13:53Z 2019-09-14 14:13:53        209
80107  2019-09-14T17:21:12Z 2019-09-14 17:21:12        209
80108  2019-09-14T17:49:12Z 2019-09-14 17:49:12        209
80109  2019-09-14T19:14:05Z 2019-09-14 19:14:05        209
80110  2019-09-14T20:00:02Z 2019-09-14 20:00:02        209
80111  2019-09-14T20:27:31Z 2019-09-14 20:27:31        210
80112  2019-09-14T22:32:25Z 2019-09-14 22:32:25        210
80113  2019-09-14T23:53:14Z 2019-09-14 23:53:14        210
80114  2019-09-15T01:21:34Z 2019-09-15 01:21:34        209
80115  2019-09-15T02:32:34Z 2019-09-15 02:32:34        209

[80116 rows x 3 columns]

In [24]:
week_count = df.groupby(['week_diff']).count()

In [25]:
week_count

           datetime_str  datetime
week_diff
6                     1         1
9                     9         9
10                  391       391
11                  327       327
12                  290       290
13                  185       185
14                  272       272
15                  168       168
16                   90        90
17                  153       153
18                  164       164
19                  135       135
20                  378       378
21                  187       187
22                  225       225
23                  207       207
24                  315       315
25                  236       236
26                  314       314
27                  387       387
28                  232       232
29                  188       188
30                  235       235
31                  288       288
32                  297       297
33                  313       313
34                  176       176
35                  180       180
36                  246       246
37                  373       373
...                 ...       ...
181                 418       418
182                 415       415
183                 468       468
184                 381       381
185                 455       455
186                 368       368
187                 420       420
188                 364       364
189                 327       327
190                 278       278
191                 328       328
192                 300       300
193                 364       364
194                 378       378
195                 369       369
196                 421       421
197                 362       362
198                 378       378
199                 423       423
200                 536       536
201                 363       363
202                 337       337
203                 373       373
204                 458       458
205                 492       492
206                 369       369
207                 359       359
208                 380       380
209                 376       376
210                  55        55

[203 rows x 2 columns]

In [26]:
week_count["datetime"].sum()/203

394.66009852216752